h1 {
			color: #008000;
			font-size: 50px;
			font-style: italic;
			text-align: center;
}
		p {
			color: #008000;
			font-size: 30px;
			font-style: italic;
			font-weight: bold;
			text-align: center;
		}	
		p#second_line {
			color: #008000;
		}	
		a {
			color: #008000;
			font-size: 30px;
			font-style: italic;
			text-align: center;
			display: block;
		}		
		article {
			/*backgrounnd-color: blue;*/
		}
		body {

			background-image:url("../images/bamboo-leaves.jpg");
		 	background-size: cover;
			background-attachment:fixed;
		}